USE [QLNH]
GO
/****** Object:  Table [dbo].[BAN_AN]    Script Date: 4/11/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN_AN](
	[MaBan] [nvarchar](20) NOT NULL,
	[SoGhe] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[DaXoa] [bit] NULL,
	[KhuVuc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_MUC]    Script Date: 4/11/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_MUC](
	[MaDM] [nvarchar](20) NOT NULL,
	[TenDM] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOI_TAC_GIAO_HANG]    Script Date: 4/11/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOI_TAC_GIAO_HANG](
	[MaDT] [nvarchar](50) NOT NULL,
	[TenDT] [nvarchar](100) NULL,
	[PhanTramNenTang] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HD_MA]    Script Date: 4/11/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HD_MA](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaMon] [nvarchar](20) NOT NULL,
	[SL] [int] NOT NULL,
	[DonGiaBan] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 4/11/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaBan] [nvarchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[LoaiHD] [nvarchar](50) NULL,
	[PTTT] [nvarchar](50) NULL,
	[TongTien] [float] NULL,
	[PhiGiaoHang] [float] NULL,
	[SoTienGiam] [float] NULL,
	[PhiNenTang] [float] NULL,
	[MaKM] [nvarchar](50) NULL,
	[MaPhieu] [nvarchar](50) NULL,
	[MaNV] [nvarchar](20) NULL,
	[MaDT] [nvarchar](50) NULL,
	[MaKH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 4/11/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [nvarchar](50) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[SDT] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYEN_MAI]    Script Date: 4/11/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYEN_MAI](
	[MaKM] [nvarchar](50) NOT NULL,
	[TenKM] [nvarchar](100) NULL,
	[NgayBD] [datetime] NULL,
	[PhanTramGiam] [float] NULL,
	[NgayKT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_NL]    Script Date: 4/11/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_NL](
	[MaMon] [nvarchar](20) NOT NULL,
	[MaNL] [nvarchar](20) NOT NULL,
	[DinhLuong] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC,
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MON_AN]    Script Date: 4/11/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON_AN](
	[MaMon] [nvarchar](20) NOT NULL,
	[TenMon] [nvarchar](100) NOT NULL,
	[DonGia] [float] NOT NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MaDM] [nvarchar](20) NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYEN_LIEU]    Script Date: 4/11/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYEN_LIEU](
	[MaNL] [nvarchar](20) NOT NULL,
	[TenNL] [nvarchar](100) NULL,
	[SL] [float] NULL,
	[DonViTinh] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 4/11/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNV] [nvarchar](20) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_DAT_BAN]    Script Date: 4/11/2026 2:42:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_DAT_BAN](
	[MaPhieu] [nvarchar](50) NOT NULL,
	[MaKH] [nvarchar](50) NULL,
	[ThoiGian] [datetime] NULL,
	[SoNguoi] [int] NULL,
	[MaBan] [nvarchar](20) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BAN_AN] ([MaBan], [SoGhe], [Status], [DaXoa], [KhuVuc]) VALUES (N'B01', 2, N'Có khách', 0, N'Tầng 1 - Sảnh')
INSERT [dbo].[BAN_AN] ([MaBan], [SoGhe], [Status], [DaXoa], [KhuVuc]) VALUES (N'B02', 2, N'Trống', 0, N'Tầng 1 - Sảnh')
INSERT [dbo].[BAN_AN] ([MaBan], [SoGhe], [Status], [DaXoa], [KhuVuc]) VALUES (N'B03', 4, N'Có khách', 0, N'Tầng 1 - Trung tâm')
GO
INSERT [dbo].[DANH_MUC] ([MaDM], [TenDM]) VALUES (N'DM01', N'Khai Vị')
INSERT [dbo].[DANH_MUC] ([MaDM], [TenDM]) VALUES (N'DM02', N'Món Chính - Bún/Phở')
INSERT [dbo].[DANH_MUC] ([MaDM], [TenDM]) VALUES (N'DM03', N'Món Chính - Cơm')
GO
INSERT [dbo].[HD_MA] ([MaHD], [MaMon], [SL], [DonGiaBan]) VALUES (N'HD1775692960156', N'M02', 1, 30000)
INSERT [dbo].[HD_MA] ([MaHD], [MaMon], [SL], [DonGiaBan]) VALUES (N'HD1775692960156', N'M04', 1, 45000)
INSERT [dbo].[HD_MA] ([MaHD], [MaMon], [SL], [DonGiaBan]) VALUES (N'HD1775692960156', N'M08', 1, 55000)
GO
INSERT [dbo].[HOA_DON] ([MaHD], [MaBan], [NgayTao], [LoaiHD], [PTTT], [TongTien], [PhiGiaoHang], [SoTienGiam], [PhiNenTang], [MaKM], [MaPhieu], [MaNV], [MaDT], [MaKH]) VALUES (N'HD1775692960156', N'B03', CAST(N'2026-04-09T07:02:40.157' AS DateTime), N'Tại chỗ', N'Tiền mặt', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HOA_DON] ([MaHD], [MaBan], [NgayTao], [LoaiHD], [PTTT], [TongTien], [PhiGiaoHang], [SoTienGiam], [PhiNenTang], [MaKM], [MaPhieu], [MaNV], [MaDT], [MaKH]) VALUES (N'HD1775693354393', N'B02', CAST(N'2026-04-09T07:09:14.393' AS DateTime), N'Tại chỗ', N'Tiền mặt', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[HOA_DON] ([MaHD], [MaBan], [NgayTao], [LoaiHD], [PTTT], [TongTien], [PhiGiaoHang], [SoTienGiam], [PhiNenTang], [MaKM], [MaPhieu], [MaNV], [MaDT], [MaKH]) VALUES (N'HD1775694065090', N'B10', CAST(N'2026-04-09T07:21:05.090' AS DateTime), N'Tại chỗ', N'Tiền mặt', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [SDT]) VALUES (N'KH01', N'Nguyễn Quốc Bảo', N'0987654321')
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [SDT]) VALUES (N'KH02', N'Hoàng Minh Khang', N'0912345678')
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [SDT]) VALUES (N'KH03', N'Trần Trung Nghĩa', N'0999888777')
GO
INSERT [dbo].[KHUYEN_MAI] ([MaKM], [TenKM], [NgayBD], [PhanTramGiam], [NgayKT]) VALUES (N'KHAITRUONG777', N'Khai trương nhà hàng', CAST(N'2026-04-09T07:41:00.000' AS DateTime), 7.77, CAST(N'2026-04-15T07:41:00.000' AS DateTime))
GO
INSERT [dbo].[MA_NL] ([MaMon], [MaNL], [DinhLuong]) VALUES (N'M01', N'NL01', 0.1)
INSERT [dbo].[MA_NL] ([MaMon], [MaNL], [DinhLuong]) VALUES (N'M01', N'NL07', 0.2)
INSERT [dbo].[MA_NL] ([MaMon], [MaNL], [DinhLuong]) VALUES (N'M01', N'NL13', 0.01)
GO
INSERT [dbo].[MON_AN] ([MaMon], [TenMon], [DonGia], [HinhAnh], [MaDM], [DaXoa]) VALUES (N'M01', N'Nộm Hoa Chuối', 35000, N'/images/m01.jpg', N'DM01', 0)
INSERT [dbo].[MON_AN] ([MaMon], [TenMon], [DonGia], [HinhAnh], [MaDM], [DaXoa]) VALUES (N'M02', N'Khoai Tây Chiên', 30000, N'/images/m02.jpg', N'DM01', 0)
INSERT [dbo].[MON_AN] ([MaMon], [TenMon], [DonGia], [HinhAnh], [MaDM], [DaXoa]) VALUES (N'M03', N'Nem Rán Hà Nội', 45000, N'/images/m03.jpg', N'DM01', 0)
GO
INSERT [dbo].[NGUYEN_LIEU] ([MaNL], [TenNL], [SL], [DonViTinh]) VALUES (N'NL01', N'Thịt Bò Thắt Lưng', 100, N'Kg')
INSERT [dbo].[NGUYEN_LIEU] ([MaNL], [TenNL], [SL], [DonViTinh]) VALUES (N'NL02', N'Thịt Gà Ta', 79.9, N'Kg')
INSERT [dbo].[NGUYEN_LIEU] ([MaNL], [TenNL], [SL], [DonViTinh]) VALUES (N'NL03', N'Thịt Lợn Ba Chỉ', 99.75, N'Kg')
GO
INSERT [dbo].[NHAN_VIEN] ([MaNV], [MatKhau], [TenNV], [ChucVu], [TaiKhoan], [DaXoa]) VALUES (N'admin', N'123', N'Nguyễn Văn Quân', N'Quản lý', N'admin', 0)
INSERT [dbo].[NHAN_VIEN] ([MaNV], [MatKhau], [TenNV], [ChucVu], [TaiKhoan], [DaXoa]) VALUES (N'nv01', N'123', N'Trần Bảo Hoàng', N'Phục vụ', N'nv01', 0)
INSERT [dbo].[NHAN_VIEN] ([MaNV], [MatKhau], [TenNV], [ChucVu], [TaiKhoan], [DaXoa]) VALUES (N'nv02', N'123', N'Lê Văn Mạnh', N'Đầu bếp', N'nv02', 0)
GO
INSERT [dbo].[PHIEU_DAT_BAN] ([MaPhieu], [MaKH], [ThoiGian], [SoNguoi], [MaBan], [TrangThai]) VALUES (N'PD01', N'KH01', CAST(N'2026-04-10T19:00:00.000' AS DateTime), 2, N'B02', N'Đã nhận bàn')
INSERT [dbo].[PHIEU_DAT_BAN] ([MaPhieu], [MaKH], [ThoiGian], [SoNguoi], [MaBan], [TrangThai]) VALUES (N'PD02', N'KH02', CAST(N'2026-04-10T20:00:00.000' AS DateTime), 4, N'B05', N'Đã hủy')
INSERT [dbo].[PHIEU_DAT_BAN] ([MaPhieu], [MaKH], [ThoiGian], [SoNguoi], [MaBan], [TrangThai]) VALUES (N'PD03', N'KH03', CAST(N'2026-04-10T18:30:00.000' AS DateTime), 6, N'B07', N'Đã hủy')
GO
ALTER TABLE [dbo].[BAN_AN] ADD  DEFAULT (N'Trống') FOR [Status]
GO
ALTER TABLE [dbo].[BAN_AN] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT ((0)) FOR [PhiGiaoHang]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT ((0)) FOR [SoTienGiam]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT ((0)) FOR [PhiNenTang]
GO
ALTER TABLE [dbo].[MON_AN] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[NGUYEN_LIEU] ADD  DEFAULT ((0)) FOR [SL]
GO
ALTER TABLE [dbo].[NHAN_VIEN] ADD  DEFAULT ((0)) FOR [DaXoa]
GO
ALTER TABLE [dbo].[PHIEU_DAT_BAN] ADD  DEFAULT (N'Chờ nhận bàn') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HD_MA]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOA_DON] ([MaHD])
GO
ALTER TABLE [dbo].[HD_MA]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON_AN] ([MaMon])
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaBan])
REFERENCES [dbo].[BAN_AN] ([MaBan])
GO
ALTER TABLE [dbo].[MA_NL]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON_AN] ([MaMon])
GO
ALTER TABLE [dbo].[MA_NL]  WITH CHECK ADD FOREIGN KEY([MaNL])
REFERENCES [dbo].[NGUYEN_LIEU] ([MaNL])
GO
ALTER TABLE [dbo].[MON_AN]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DANH_MUC] ([MaDM])
GO
ALTER TABLE [dbo].[PHIEU_DAT_BAN]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[PHIEU_DAT_BAN]  WITH CHECK ADD FOREIGN KEY([MaBan])
REFERENCES [dbo].[BAN_AN] ([MaBan])
GO
